- rule: '*'
  enabled: false
- rule: f03b85207ada9a33
  enabled: true
- rule: 66c6bfb7c8dd6a77
  enabled: true
- rule: 9f11f6202c95bf22
  enabled: true
- rule: 3760470f3035c4a6
  enabled: true
- rule: f11d3d635df680f1
  enabled: true
- rule: 1efce2d83a7f5bdf
  enabled: true
- rule: 7566dae00dc6d4e8
  enabled: true
- rule: f4263a2b85103b6e
  enabled: true
- rule: 07f25b3eeffd351d
  enabled: true
- rule: 3dcb2f25141a9d4b
  enabled: true
