- rule: '*'
  enabled: false
- rule: f03b85207ada9a33
  enabled: true
- rule: f23d59b80126349c
  enabled: true
- rule: 9f11f6202c95bf22
  enabled: true
- rule: 7c686f5f82593aa9
  enabled: true
- rule: f11d3d635df680f1
  enabled: true
- rule: dfff717b90ec9b44
  enabled: true
- rule: 7566dae00dc6d4e8
  enabled: true
- rule: 4ba0126c0a78bc91
  enabled: true
- rule: 07f25b3eeffd351d
  enabled: true
- rule: 1f6707057417dec8
  enabled: true
