- rule: '*'
  enabled: false
- rule: e9466bad62353c09
  enabled: true
- rule: 95ab2b52784a2698
  enabled: true
- rule: f129fc3e9a377bbd
  enabled: true
- rule: 989025ee4b7691f2
  enabled: true
- rule: b409951ceaeffcd6
  enabled: true
