- rule: '*'
  enabled: false
- rule: f03b85207ada9a33
  enabled: true
- rule: 66c6bfb7c8dd6a77
  enabled: true
- rule: a25f7caab8dbf097
  enabled: true
