- rule: '*'
  enabled: false
- rule: c77a1ed544e4cfa1
  enabled: true
  placement: rbo
  phase: pre_join
  effect: changes_join_graph
  priority: 0
  order: bottom_up
  fixpoint: true
- rule: b39365f7144f4044
  enabled: true
  placement: rbo
  phase: pre_join
  effect: preserves_join_graph
  priority: 0
  order: bottom_up
  fixpoint: true
